<h3 style="color: #800000;">Peter Smithers</h3>

<p>Peter Smithers is an entomologist who has worked for Plymouth University for 40 years and currently has a position as Associate research fellow.</p>

<p>He is an honorary Fellow of the Royal Entomological Society, their SW Regional Secretary and Editor of their magazine Antenna. He is also a member of the societies council. He has been chairman of the Peninsular Invertebrate Forum since its inception in 1990.</p>