<h3>Holistic Entomology</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.email, user %></p>

<% end %>

<p>We provide a wide range of services across the the ﬁeld of entomology. These range from scientiﬁc surveys and an invertebrate identiﬁcation service to projects that explore the cultural context in which we view the invertebrate world. Using the arts as a platform on which to present both science and the natural world. Examples of this are photographic and art exhibitions, performances included contemporary dance, opera and puppet theater.</p>

<p>Insect surveys</p>

<p>This service is offered by Peter Smithers and John Walters</p>

<p>Peter Smithers is an entomologist who has worked for Plymouth University for 40 years and currently has a position as Associate research fellow.</p>

<p>He is an honorary Fellow of the Royal Entomological Society, their SW Regional Secretary and Editor of their magazine Antenna. He is also a member of the societies council. He has been chairman of the Peninsular Invertebrate Forum since its inception in 1990.</p> 

<p>John Walters</p>

<p>Johns details can be found at his website http://johnwalters.co.uk</p>

<p>This is a comprehensive service that documents the invertebrate fauna of the selected site. We use a wide spectrum of techniques which include sweeping, beating, hand searching, suction sampling, light trapping, pitfall trapping and fresh water sampling.</p>
<p>Reports can be tailored to the clients requirements.</p>
<p>Fees £300.00 / day / person.</p>

<p>Speaker</p>

<p>I am available to give a wide range of talks covering many aspects of entomology, science and art, each of which can be modiﬁed to suite a particular audience.</p>
<ul>
<li>The amazing world of insects</li>
<li>The natural History of Spiders</li>
<li>Supper hero insects</li>
<li>Insects in art</li>
<li>Science and Art</li>
<li>Science and theater</li>
<li>Insects as human food</li>
<li>The natural history of Borneo</li>
<li>Mauritius, Paradise lost</li>
<li>Insects and colour</li>
</ul>

